@media screen and (max-width: 1200px) {
  /* responsive stories  */
  .container__stories--item {
  }

  /* responsive why choose us  */
  .container__why {
    flex-direction: column;
    text-align: center;
  }
  .container__why--item {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  /* responsive stories  */
  .container__stories--item {
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
}
