@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&family=Red+Hat+Text:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&family=Red+Hat+Text:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&family=Red+Hat+Text:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap");
/* Pacifico font  */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
/* Roboto _Christian Robertson  */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* COMMON CSS  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
}
html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

body {
  line-height: 1.4;
  font-weight: 400;
}

.container {
  width: 100%;
  padding: 0 10%;
  text-align: center;
}
.categories__title {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 70px;
  letter-spacing: 0.0025em;
  text-transform: capitalize;
  color: #5a0000;
  text-align: center;
}
/* css add to cart button  */
.add_to_cart {
  background: #e7931a;
  border-radius: 19px;
  padding: 7px 16.8px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
  cursor: pointer;
}
.add_to_cart > i {
  padding-right: 6px;
}
/* CSS STORIES  */
.container.gray {
  background-color: #f3f0eb;
  margin-bottom: 24px;
}
.container__stories {
  padding: 60px 0 calc(83px - 18px) 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.0015em;
  color: #000000;
}
.container__stories--description {
  margin-top: 12px;
  margin-bottom: calc(54px - 18px);
}
.container__stories--item {
  position: relative;
  /* display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  text-align: center; */
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}
.container__stories--item > a::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 172, 71, 0.6);
  transition: all 0.3s ease-in;
  display: none;
}

.container__stories--item > a {
  border: 4px solid #e7931a;
  filter: drop-shadow(-2px 1px 24px #ff9933);
  border-radius: 27px;
  overflow: hidden;
  /* margin: 18px auto; */
}
.container__stories--item > a:hover {
  background-color: #e7931a;
}
.container__stories--item > a:hover::before {
  display: block;
}
.container__stories--item > a:hover p {
  display: block;
  color: #fff;
}
.container__stories--item > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container__stories--item > a > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  font-size: 32px;
  line-height: 1.2;
}

/* CSS PHẦN COLLECTION  */
.collection {
  text-align: center;
  margin-bottom: 20px;
}
.container__collection {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.container__collection--item {
  text-align: center;
  align-items: center;
  /* width: 17.2%; */
  /* margin: 23px 40px 23px 40px; */

  width: 209px;

  /* padding: 23px auto; */
  /* margin: 23px 23px; */
  margin: 23px 62px;
  background: rgba(245, 172, 71, 0.08);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.container__collection--item > img {
}
.collection--name {
  margin-top: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.collection--price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.container__collection--item > button {
  margin: 18px 21px 14px 21px;
}

/* CSS WHY CHOOSE US  */
.why__choose_us {
  padding: 0 152px;
  background-color: #f2f2f2;
}
.container__why {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 60px 0;
}
.container__why--items {
  /* width: calc(100% / 3); */
  align-items: center;
  margin: auto 0;
}

.why__item--img > img {
  width: 120px;
  height: 100px;
  margin-right: 17px;
}
.title__choose {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.0015em;

  color: #000000;
  margin-bottom: 13px;
}
.desc__choose {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.005em;

  color: #000000;
}

/* BOX 1 */
.container__why--item {
  display: flex;
  align-items: center;
  margin: 26px 0;
}
.container__why--item > div {
}

/* BOX GIỮA  */
.rounded {
  margin: 0 64px;
}
.rounded > img {
  width: 297px;
  height: 297px;

  border-radius: 50%;
  object-fit: cover;
}

/* CSS FEELING CUSTOMER  */
.feeling {
  /* background: url("../image/cảm\ nhận\ khách\ hàng.jpg") no-repeat center;
  background-size: cover; */
  padding: 75px 152px 125px 152px;
  position: relative;
  margin-bottom: 30px;
}

.background__feeling {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* filter: saturate(10) blur(3px);
  opacity: 0.8; */
}
/* .background__feeling::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 172, 71, 0.6);
} */

.feeling__container {
  display: flex;
}
.feeling__container .feeling__container--item:nth-child(2) {
  margin: 0 86px;
}
.feeling__container--item > p {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.0015em;

  color: #ffffff;
  margin: 47px 0 28px 0;
}
.feeling__container--item > div {
  display: flex;
  align-items: center;
}
/* .feeling__container--item > div > img,
.feeling__container--item > div > p {
  align-items: center;
  text-align: center;
} */
.feeling__container--item > div > img {
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
}
.feeling__container--item > div > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.0015em;

  color: #e7931a;
}
.feeling__container--item > p > span {
  display: inline-block;
  font-size: 60px;
}

/* CSS BLOG  */
.blog {
  margin: 40px 152px 0 152px;
}
.blog__container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.blog__container--left {
  width: 46%;
  padding-right: 10px;
}
.blog__container--left > img {
  width: 100%;
  object-fit: cover;
}
.blog__name {
  margin-top: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.005em;

  color: rgba(0, 0, 0, 0.87);
}
.blog__desc {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.005em;

  color: #000000;
  margin: 14.5px 0;
  text-align: justify;
}
.blog__more {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.005em;

  color: #000000;
}
.blog__container--right {
  width: 50%;
}
.blog__container--right-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-bottom: 32px;
}

.blog__container--right-item > img {
  width: 26%;
}
.blog__container--right-item > div {
  width: 66%;
}
.view_more--blog {
  padding: 8px 24px;

  border: 1px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
}
.view_more--blog:hover {
  background-color: #ede6e6;
  transition: all 0.5s ease;
}

/* CSS FOOTER  */
footer {
  position: relative;
  background: url("../image/footer2\ .jpg") no-repeat center;
  background-size: cover;
  /* width: 100%; */
}
.footer__cover {
  /* width: 100%;
  height: 100%; */
}
/* 
.footer__cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 96, 13, 0.6);
  z-index: 1;
} */
.footer__cover > img {
  width: 100%;
  height: 100%;
}
.container__footer {
  /* position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%; */
  /* background: url("../image/footer.jpg") no-repeat center;
  background-size: cover; */
  padding: 60px 0 63px 0;
  z-index: 10;
}

.container__footer-top {
  text-align: center;
}
.container__footer-top > h1 {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: 0.05em;

  color: #ffffff;
}
.container__footer-top > p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 42px;
  letter-spacing: 0.05em;

  color: #ffffff;
}
.container__footer-top > ul {
  display: inline-flex;
  font-size: 24px;
  margin-bottom: 37px;
}
.container__footer-top > ul > li {
  margin: 0 8px;
}
.container__footer-top > ul > li > a > i {
  color: #e7931a;
}

.container__footer-bottom {
  display: flex;
  justify-content: space-between;
  margin: 0 152px;
  /* width: 100%; */
}
.footer__contact,
.footer__product,
.footer__nav,
form {
  /* margin: 0 10px; */
}
.footer__contact {
  width: 30%;
}
.footer__product {
  width: 20%;
}
.footer__nav {
  width: 20%;
}
form {
  flex: 1;
}
.footer__contact > h6,
.footer__product > h6,
.footer__nav > h6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.005em;

  color: #ffffff;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.footer__contact > p,
.footer__product > li,
.footer__nav > li {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.005em;

  color: #ffffff;
  padding: 6px 0;
}
.footer__contact > p {
  line-height: 1.4;
  /* margin-right: 10px; */
}
.footer__contact > p > i {
  padding-right: 10px;
}
.footer__product > li > a,
.footer__nav > li > a {
  color: #fff;
}
.footer__product > li:hover > a,
.footer__nav > li:hover > a {
  color: #edc0c0;
}

form {
  background-color: rgba(0, 0, 0, 0.42);
  padding: 33px 28px 0 28px;
  /* padding-top: 33px; */
}
label {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}
form > div {
  display: flex;
  margin-bottom: 18px;
}
form > div > label {
  width: 30%;
}
form > div > input,
form > div > textarea {
  flex: 1;
  padding: 16px 20px;
  background-color: rgba(61, 60, 60, 0.65);
  border: 1px #5a0000 solid;
  border-radius: 4px;
}
form > div > button {
  float: right;
  padding: 10px 20px;
  background: #e7931a;
  border-radius: 4px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.5 ease;
}
form > div > button:hover {
  background-color: #88e834;
}
.footer_author {
  background-color: #000000;
  text-align: center;
  color: #fff;
  font-size: 16px;
  padding: 10px;
}
